
.address-header {
  height: 128px;
  text-align: center;
  background: #f5f5f5;
  &__logo{
    margin: 40px 0 0;
    display: inline-block;
    width: 185px;
    height: 49px;
    line-height: 49px;
    &:hover {
      opacity: 0.7;
    }
  }
}


.step-barfive {
  background: #f5f5f5;
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  .step-barfive__active {
    color:#888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    &__status {
      background: red;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
    &__tell {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__tell { 
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background-color: red;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: red;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
    &__address {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: red;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__address {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background-color: red;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color:red;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: lightgray;
      }
    }
    &__pay {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__pay {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background-color: lightgray;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: lightgray;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: lightgray;
      }
    }
    &__end {
      font-weight: 600;
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__end {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background-color: lightgray;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: lightgray;
      }
    } 
  }
}


 .admin-address__form__coupon{
  margin: 0;
  .name {
    font-weight: 600;
    font-size: 13px;
  }
  a.red{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    right: 12px;
  }
  a.gray{
    background: #949494;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    right: 12px;
  }
  .form_address {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 1.5;
    font-size: 16px;
    background: #fff;
  }
  .form_address_prefecture {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 1.5;
    font-size: 16px;
    background: #fff;
  }



  .admin-address__form__coupon__next{
    margin: 24px 0 0;
    
    .next-btn {
      margin: 24px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }       
}