.footer_ad
  .footer_pic_title
    .footer_pic_title_mein
      %h3 スマホで簡単フリマアップリ
      %h1 ダウンロードしないでね！
    .footer_pic_title__log
      =link_to "#" ,class: "footer_pic_title__log__new_item" do
        = image_tag "logo_red.svg",class: "app_box", alt: "app"          
      =link_to "#" ,class: "app" do
        = image_tag "phone.png",class: "app_logo", alt: "app", size: "30x30"
        ダウンロード！
      =link_to "#" ,class: "app" do
        = image_tag "phone.png",class: "app_logo", alt: "app", size: "30x30"
        Download!