.footer_bottme
  .footer_bottme_list
    .footer_bottme_list_1
      %ul.list_item
        %h4 フリマについて
        %li.f_item
          =link_to "#",class: "f_item" do
            会社概要（運営会社）
        %li.f_item
          =link_to "#",class: "f_item" do
            採用情報
        %li.f_item
          =link_to "#",class: "f_item" do
            プレスリリース
        %li.f_item
          =link_to "#",class: "f_item" do
            公式ブログ
        %li.f_item
          =link_to "#",class: "f_item" do
            メルカリロゴ利用ガイドライン
            

    .footer_bottme_list_2
      %ul.list_item
        %h4 ヘルプ＆ガイド
        %li.f_item
          =link_to "#",class: "f_item" do
            メルカリガイド
        %li.f_item
          =link_to "#",class: "f_item" do
            らくらくメルカリ便
        %li.f_item
          =link_to "#",class: "f_item" do
            ゆうゆうメルカリ便
        %li.f_item
          =link_to "#",class: "f_item" do
            大型メルカリ便
        %li.f_item
          =link_to "#",class: "f_item" do
            車体取引ガイド
        %li.f_item
          =link_to "#",class: "f_item" do
            メルカリあんしん・あんぜん宣言！
        %li.f_item
          =link_to "#",class: "f_item" do
            偽ブランド品撲滅への取り組み
        %li.f_item
          =link_to "#",class: "f_item" do
            メルカリボックス


    .footer_bottme_list_3
      .list_3_left
        %ul.list_item
          %h4 プライバシーと利用規約
          %li.f_item
            =link_to "#",class: "p_item" do
              プライバシーポリシー
          %li.f_item
            =link_to "#",class: "p_item" do
              メルカリ利用規約
          %li.f_item
            =link_to "#",class: "p_item" do
              あんしんスマホサポート制度に関する利用特約
          %li.f_item
            =link_to "#",class: "p_item" do
              コンプライアンスポリシー
        

      .list_3_rigth
        %ul.list_item
          %h4 　　　　　　　　　　　
          -# %h4 は残しといて！！！
          %li.f_item
            =link_to "#",class: "p_item" do
              個人データの安全管理に係る基本方針
          %li.f_item
            =link_to "#",class: "p_item" do
              特定商取引に関する表記
          %li.f_item
            =link_to "#",class: "p_item" do
              資金決済法に基づく表示
          %li.f_item
            =link_to "#",class: "p_item" do
              資金決済法に基づく表示


    .footer_bottme_list_4
      %ul.list_item
        %h4 国
        %li.f_item
          =link_to "#",class: "f_item" do
            日本
        %li.f_item
          =link_to "#",class: "f_item" do
            United States


  .footer_bottme_row
    .footer_bottme_row_text
      .footer_bottme_row_text_log
        =link_to "#"  do
          = image_tag "fmarket_logo_red.svg",class: "mein_log", alt: "メルちゃん"  
      .footer_bottme_row_text_end
        © Morukari, Inc.